@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  /* border: 10px solid black; */
  display: flex;
  flex-direction: column;
}

.hero {
  margin: 20px;
  /* border: 5px solid red; */
  height: fit-content;
  display: flex;

  flex-direction: row;
}
.heroTextContainer {
  /* border: 5px solid green; */
  height: 100%;
  width: 150%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-decoration: none !important;
}
h2 {
  --tw-text-opacity: 1;
  color: hsl(19 84% 61% / var(--tw-text-opacity));
}

.dateOfEvent {
  padding: 10px;
  --tw-text-opacity: 1;
  color: hsl(19 84% 61% / var(--tw-text-opacity));
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.logo {
  background-color: white;
  width: 140px;
  height: 140px;
  object-fit: contain;
}
.institutionName {
  padding: 10px;

  width: 140px;
}

.registerButton {
  padding: 5px;
  background-color: rgba(255, 89, 0, 0.9) !important;
  color: white;
  text-decoration: none;
  font-family: "Monsterrat", sans-serif;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 7px;
}
.registerButton:hover {
  background-color: rgb(255, 89, 0) !important;
}

.infoContainer {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.info {
  /* border: 5px solid green; */
  padding: 20px;
}
.newsContainer {
  display: flex;
  flex-direction: column;
  /* border: 5px solid blue; */

  padding: 20px;
}
h3 {
  color: black;
  margin: 5px;
  padding: 0;
}

.news1Container,
.news2Container {
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.news {
  padding: 5 20 20 5;
  background-color: bisque;
  border-radius: 10px;
}
h1 {
  padding-left: 5px;
}

.heroImgsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  width: 200%;
}
.heroImg1,
.heroImg2,
.heroImg3,
.heroImg4 {
  width: 45%;
  height: 45%;
  object-fit: cover;
}

.heroCoverContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.heroCover1,
.heroCover2,
.heroCover3,
.heroCover4 {
  width: 45%;
  height: 45%;

  mix-blend-mode: color;

  --tw-bg-opacity: 1;
  background-color: hsl(17 83% 54% / var(--tw-bg-opacity));
}

.heroCover1 {
  animation: colorChange1 2s infinite;
}
@keyframes colorChange1 {
  0% {
    --tw-bg-opacity: 1;
    background-color: hsl(17 83% 54% / var(--tw-bg-opacity));
  }
  50% {
    background-color: #facc15;
  }
  100% {
    background-color: #22d3ee;
  }
}

.heroCover2 {
  animation: colorChange2 2s infinite;
}
@keyframes colorChange2 {
  0% {
    background-color: #facc15;
  }
  50% {
    background-color: #22d3ee;
  }
  100% {
    --tw-bg-opacity: 1;
    background-color: hsl(17 83% 54% / var(--tw-bg-opacity));
  }
}

.heroCover3 {
  animation: colorChange3 2s infinite;
}
@keyframes colorChange3 {
  0% {
    background-color: #22d3ee;
  }
  50% {
    --tw-bg-opacity: 1;
    background-color: hsl(17 83% 54% / var(--tw-bg-opacity));
  }
  100% {
    background-color: #facc15;
  }
}

.heroCover4 {
  animation: colorChange4 2s infinite;
}
@keyframes colorChange4 {
  0% {
    --tw-bg-opacity: 1;
    background-color: hsl(17 83% 54% / var(--tw-bg-opacity));
  }
  50% {
    background-color: #facc15;
  }
  100% {
    background-color: #22d3ee;
  }
}

.sliderWrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.sliderNav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.sliderNav a {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background-color: #fff !important;
  opacity: 0.75;
  transition: ease 250ms;
}

.sliderNav a:hover {
  opacity: 1;
}

.imgGallery h1 {
  text-align: center;
}

.timelineContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 20px;
  justify-content: space-evenly;
}
.timeline {
  text-align: center;
  width: 500px;
}
.eventContainerLeft,
.eventContainerRight {
  padding: 20px;
  position: relative;
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  width: fit-content;
  border-radius: 0.75rem;
}
.timeline {
  position: relative;
}
.vertLine {
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: hsl(24 86% 83% / var(--tw-bg-opacity));
  left: 50%;
  height: 290px;
  width: 10px;
  border-radius: 1rem;
}
.dot1,
.dot2,
.dot3,
.dot4 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 49.5%;
  bottom: 68%;
  border-radius: 50%;
  --tw-bg-opacity: 1;
  background-color: hsl(19 84% 61% / var(--tw-bg-opacity));
}
.dot2 {
  bottom: 50%;
}
.dot3 {
  bottom: 28%;
}

.dot4 {
  bottom: 10%;
}

.eventContainerLeft {
  left: -18%;
}
.eventContainerRight {
  left: 55%;
}
.aboutDoaba {
  width: 40%;
}

.about1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutNitj {
  margin: 50px;
  width: 50%;
}
.aboutDepartment {
  margin: 50px;
  width: 35%;
}
.about2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sponsorship {
  margin: 50px;
  width: 50%;
}
.souvenir {
  margin: 50px;
  width: 35%;
}

table {
  justify-content: space-between;
}
tr {
  width: 200px;
  height: 40px;
  position: relative;
}
.tableHead1,
.tableHead2 {
  width: 50%;
  height: 40px;
  --tw-bg-opacity: 1;
  background-color: hsl(27 86% 92% / var(--tw-bg-opacity));
  position: absolute;
  color: black;
  border-radius: 0.5rem;
}
.tableHead2 {
  width: 35%;
}
th {
  text-align: left;
  font-family: "Monsterrat", sans-serif;
  color: black;
  font-style: normal;
}

.rightColumn {
  padding-left: 20px;
}
.ourEvents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
  justify-content: space-evenly;
  padding: 100px;
  padding-top: 0px;
}
.event1,
.event2,
.event3,
.event4,
.event5 {
  border-radius: 0.5rem;
}

.event1 {
  width: 35%;
  margin: 20px;
  padding: 20px;
  height: 720px;

  --tw-bg-opacity: 1;
  background-color: hsl(27 86% 92% / var(--tw-bg-opacity));
}

.eventSquare {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 55%;
  height: 800px;
  margin: 20px;
  justify-content: space-evenly;
}

.event2,
.event3,
.event4,
.event5 {
  padding: 20px;

  height: 40%;
  width: 40%;
}
.event2 {
  --tw-bg-opacity: 1;
  background-color: hsl(24 86% 83% / var(--tw-bg-opacity));
}
.event3 {
  --tw-bg-opacity: 1;
  background-color: hsl(23 84% 72% / var(--tw-bg-opacity));
}
.event4 {
  --tw-bg-opacity: 1;
  background-color: hsl(19 84% 61% / var(--tw-bg-opacity));
}
.event5 {
  --tw-bg-opacity: 1;
  background-color: hsl(17 83% 54% / var(--tw-bg-opacity));
}

@media (max-width: 1450px) {
  .ourEvents {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
  .event1 {
    width: 70%;
    padding-bottom: 0px;
  }
  .eventSquare {
    height: fit-content;
    width: 100%;
  }
  .event2,
  .event3,
  .event4,
  .event5 {
    width: 70%;
    margin: 10px;
  }
  .timelineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .event1,
  .event2,
  .event3,
  .event4,
  .event5 {
    width: 95%;
  }
}
